{% extends "bus_tracker/base.html" %}

{% block content %}
<h3>BusRoute - {{busroute.number}}</h3>




<div class="container">
	<div class="row">
		{% for stop in busroute.busstop_set.all %}
			<div class="span2">
				<table class="table table-striped">
				<thead>
					<tr>
						<th><small> {{stop.stop_name}} </small></th>
					</tr>
				</thead>
				<tbody> 
				{% for stoptime in stop.arrivaltime_set.all|dictsort:"time" %} 
					<tr>
						<td><small>{{stoptime.time}}</small> </td>
					</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
		{% endfor %}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span3">
		</div>
		<div class="span3">
			{{form.map}}
		</div>
		<div class="span3">
		</div>
		
	</div>
</div>
<script type="text/javascript">
    window.myobj = {
        markerOver: function() { this.openInfoWindow(); },
        markerOut: function() { this.closeInfoWindow(); }
    };
</script>
{{form.media.js}}
{% endblock %}
