<!DOCTYPE html>
<html>
  <head>
    <title>Smart Bus System</title>
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
	table {
		table-layout:fixed;
		word-wrap: break-word;
	}
    </style>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
		<ul class="nav">
		<li class="active">
			<a class="brand" href="/">Smart Bus System</a>
		</li>
		<li><a href="">info</a></li>
		<li><a href="{% url route_list %}">Bus Routes</a></li>
	</div>
      </div>
    </div>
   <div class="container">
	<div class="row">
	{% block content %}{% endblock %}
	</div>
  </div>
  <br/>
  <div id="footer">
	<div class="container" style="text-align: center">
	<p class="muted credit">
		<br/>&copy; Smart Bus System 2013
		<br/>This site is created as part of a University of Victoria project class ELEC/CENG/SENG 499, we provide no warranty on its use, you can view the source code at: <a href="http://github.com/jcastor/smart_bus">github</a>
		<br/>Route and arrival data used in this product or service is provided by permission of BC Transit. BC Transit assumes no responsibility for the accuracy or currency of the Data used in this product or service.
	</p>
	</div>
</div>
  </body>
</html>
