{% extends "gtfs_bus/base.html" %}

{% block content %}
<h3>BusRoute - {{busroute.route_shortname}}</h3>
{% regroup busroute.busstop_set.all by direction as direction_list %}
<div class="container">
	<div class="row">
		<div class="span6"><strong>Direction: </strong>{% for direction in direction_list %}<a href="{% url displayroute_direction busroute.id direction.grouper%}"> {{direction.grouper}} </a>/ {%endfor%}
		</div>
		
	</div>

</div>
{% regroup stop_times by stop as unique_stops %}
{% regroup stop_times by trip as unique_trips %}
<div class="container">
	{% for trip in stop_times_stop %}
	<div class="row">
			<div class="span12">
				<table class="table table-striped">
				<thead>
					<tr>
						<th><small> Trip ID</small></th>
						{% for stop in stop_times %}
							{% if trip.trip == stop.trip %}
								<th><small>{{stop.stop}}</small></th>
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><small>{{trip.trip}}</small> </td>
						{% for times in stop_times %}
							{% if trip.trip == times.trip %}
								<td><small>{{times.arrival_time}}</small></td>
							{% endif %}
						{% endfor %}
					</tr>
				</tbody>
				</table>
			</div>
	</div>
	{% endfor %}
<!--	<div class="row">
			<div class="span12">
				<table class="table table-striped">
				<thead>
					<tr>
						<th><small> Trip ID</small></th>
						{% for stop in stop_times %}
							{% if unique_trips.0.grouper == stop.trip %}
								<th><small>{{stop.stop}}</small></th>
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
				{% for trip in stop_times_stop %}
				<tr>
					<td><small>{{trip.trip}}</small> </td>
					{% for times in stop_times %}
						{% if trip.trip == times.trip %}
							<td><small>{{times.arrival_time}} - {{times.stop}}</small></td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>
	</div>-->
</div>
</div>
<div class="container">
	<div class="row">
		<div class="span3">
		</div>
		<div class="span3">
			{{form.map}}
		</div>
		<div class="span3">
		</div>
		
	</div>
</div>
<script type="text/javascript">
    window.myobj = {
        markerOver: function() { this.openInfoWindow(); },
        markerOut: function() { this.closeInfoWindow(); }
    };
</script>
{{form.media.js}}
{% endblock %}
