{% extends "gtfs_bus/base.html" %}

{% block content %}
<table class="table table-striped">
	<thead>
	<tr>
		<th>Bus Routes</th>
		<th>Direction</th>
	</tr>
	</thead>
	<tbody>
	{% for route in route_list %}
		{% if route.route_id == '26-Victoria' %}
		<tr>
			<td><a href="{% url display_route route.id %}">{{route.route_id}}</a></td>
			{% regroup route.trip_set.all|dictsort:"headsign" by headsign as headsigns %}
			<td>
			<div class="btn-group">
			{% for trip in headsigns %}
				<button class="btn" onclick="location.href='{% url display_route route.id %}?dir={{trip.grouper}}'"> {{trip.grouper}}</button>
			{% endfor %}
			</ul>
			</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
{% endblock %}
